@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Rubik Regular';
    font-display: swap;
    src: local('Rubik'), url(assets/font/Rubik-Regular.ttf) format('tff');
}

@tailwind utilities;